@font-face {
  font-family: "iconfont"; /* Project id 2449341 */
  src: url('//at.alicdn.com/t/font_2449341_irx1kp4yhjr.woff2?t=1649336607686') format('woff2'),
       url('//at.alicdn.com/t/font_2449341_irx1kp4yhjr.woff?t=1649336607686') format('woff'),
       url('//at.alicdn.com/t/font_2449341_irx1kp4yhjr.ttf?t=1649336607686') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icontupian:before {
  content: "\e674";
}

.iconaite:before {
  content: "\e60e";
}

.iconsuoding_o:before {
  content: "\eb50";
}

.iconjiesuo:before {
  content: "\e60d";
}

.icontianjia:before {
  content: "\e63f";
}

.iconyuandian:before {
  content: "\e62f";
}

.iconbottom-triangle:before {
  content: "\e60c";
}

.icon24gl-volumeCross:before {
  content: "\ea0b";
}

.icon24gl-volumeHigh:before {
  content: "\ea0c";
}

.icon24gl-volumeLow:before {
  content: "\ea0d";
}

.icon24gl-volumeMiddle:before {
  content: "\ea0e";
}

.iconshangchuanyunduan:before {
  content: "\e640";
}

.iconbofang2:before {
  content: "\e606";
}

.iconsanjiaoxing:before {
  content: "\e60b";
}

.iconxingbienan:before {
  content: "\e604";
}

.iconxingbienv-01:before {
  content: "\e615";
}

.iconmima:before {
  content: "\e789";
}

.iconxihuan:before {
  content: "\e6c0";
}

.iconpinglun:before {
  content: "\e778";
}

.iconfenxiang1:before {
  content: "\e618";
}

.iconzan:before {
  content: "\e63e";
}

.icondianzan1:before {
  content: "\e603";
}

.iconlnicon34:before {
  content: "\e626";
}

.iconicon_com-loading:before {
  content: "\e650";
}

.iconjinghao:before {
  content: "\e746";
}

.iconshuqian:before {
  content: "\e608";
}

.iconren-:before {
  content: "\e60a";
}

.iconbiaoqianA01_shouye-36:before {
  content: "\ea71";
}

.iconbiaoqiankuozhan_xinxi-357:before {
  content: "\ebd6";
}

.icongengduo-copy:before {
  content: "\e602";
}

.iconindent:before {
  content: "\e7f3";
}

.iconpause:before {
  content: "\eb15";
}

.iconwode:before {
  content: "\e646";
}

.icontuichu:before {
  content: "\e63d";
}

.iconxinxi:before {
  content: "\e611";
}

.iconshezhi:before {
  content: "\e8b7";
}

.icondengji:before {
  content: "\e622";
}

.iconsousuo1:before {
  content: "\e692";
}

.iconxiazai:before {
  content: "\e61d";
}

.iconbofang1:before {
  content: "\e77e";
}

.iconfenxiang:before {
  content: "\e713";
}

.iconpinglun_huabanfuben:before {
  content: "\e614";
}

.iconjia:before {
  content: "\e652";
}

.iconshoucang:before {
  content: "\e610";
}

.icon-tainjia:before {
  content: "\e601";
}

.iconbofang:before {
  content: "\e660";
}

.iconarrow-right-copy:before {
  content: "\e616";
}

.iconmore:before {
  content: "\e605";
}

.iconweixin:before {
  content: "\e61c";
}

.iconv3-fuben_QQ:before {
  content: "\e63c";
}

.icondanqu:before {
  content: "\e6ab";
}

.icongedan:before {
  content: "\e61a";
}

.iconshipin:before {
  content: "\e7b3";
}

.icondel:before {
  content: "\e607";
}

.iconicon_headset:before {
  content: "\e694";
}

.iconup-copy-copy:before {
  content: "\e600";
}

.iconiconicon-wyy:before {
  content: "\e7c5";
}

.iconicon-:before {
  content: "\e642";
}

.iconicon-1:before {
  content: "\e643";
}

.iconicon-2:before {
  content: "\e644";
}

.iconicon-3:before {
  content: "\e645";
}

.iconicon-5:before {
  content: "\e647";
}

.iconicon-6:before {
  content: "\e648";
}

.iconicon-7:before {
  content: "\e649";
}

.iconicon-8:before {
  content: "\e64a";
}

.iconicon-9:before {
  content: "\e64b";
}

.iconxinhao:before {
  content: "\e7c4";
}

.iconzhankai:before {
  content: "\e786";
}

.iconsousuo:before {
  content: "\e609";
}
